In [17]:
import pandas as pd

In [18]:
def read_data():
    df = pd.read_excel(io='Cashbook 2023-2024.xlsx', sheet_name='Journal')

    return df
df= read_data()

In [19]:
def clean_data(df):
     df = df.fillna(value=0)
     df = df.iloc[:-1]

     return df
clean_data(df)

,ID,Date,Description,Bank Account Name,Cardholder,Category,Item,Income,Expense
0,858.0,06/03/2024,B&M 022 - WEDNESBURY,Expense Account,Robert Barlow,Meetings - Cubs,General (Cubs),0.0,11.99
1,857.0,04/03/2024,AMZNMktplace,Expense Account,David Baugh,Venue Maintenance,Repairs & Maintenance,0.0,9.15
2,855.0,29/02/2024,ASDA STORES 5130,Expense Account,Robert Barlow,Meetings - Cubs,General (Cubs),0.0,1.00
3,854.0,29/02/2024,ASDA STORES 5130,Expense Account,Robert Barlow,Meetings - Cubs,General (Cubs),0.0,4.05
4,853.0,28/02/2024,VODAFONE MOTO,Expense Account,David Baugh,Utilities,Broadband,0.0,31.03
...,...,...,...,...,...,...,...,...,...
674,324.0,05/04/2023,TMG \tIUM58WPQLTII1ZF0RD DD,Executive committee,0,Admin,Website Fees,0.0,10.00
675,323.0,03/04/2023,GC C1 \t1STSEDGLEY-CS9BFY9 BG,Executive committee,0,Events - Cubs,2023 Kinver Camp,50.0,0.00
676,323.0,03/04/2023,GC C1 \t1STSEDGLEY-CS9BFY9 BG,Executive committee,0,Bank Fees,0,0.0,1.64
677,249.0,03/04/2023,1ST SEDGLEY SCOUT \tLEGOLAND COACH BBP,Executive committee,0,Events - Beavers,Transport costs,0.0,375.00
678,466.0,01/04/2023,Xmas Cheer,Cash,0,Events,Christmas Cheer,0.0,15.30