In [1]:
import pandas as pd
import os

In [2]:
def create_df():
    csv_files = [f for f in os.listdir('inputs') if f.endswith(".csv")]
    csv_file = str(csv_files[0])
    df = pd.read_csv(f'inputs/{csv_file}')
    payments = df.shape[0]+1
    print(f'{payments} payments were found in this file')
    return df
df = create_df()

142 payments were found in this file

In [5]:
def discover_amounts(df):
    sections = ['Squirrels', 'Beavers', 'Cubs', 'Scouts']
    payment_schedules = ['Activities', 'Monthly Subscriptions']

    result_subsets = []  # List to store subsets

    df = df.groupby(['resources.description'])[['gross_amount', 'gocardless_fees', 'app_fees', 'net_amount']].sum().reset_index()

    for section in sections:
        subset_section = df[df['resources.description'].str.contains(section, case=False)].copy()

        for schedule in payment_schedules:
            subset_schedule = subset_section[subset_section['resources.description'].str.contains(schedule, case=False)].copy()
            subset_schedule['Section Payment Schedule'] = section + ": " + schedule

            result_subsets.append(subset_schedule)

    # Concatenate all subsets into a new DataFrame
    df = pd.concat(result_subsets, ignore_index=True)
    
    # Group so all sections payments for each schedule are together
    df = df.groupby(['Section Payment Schedule'])[['gross_amount', 'gocardless_fees', 'app_fees', 'net_amount']].sum().reset_index()
    
    # Sort so it is easier to read
    df = df.sort_values(by=['Section Payment Schedule'])

    # Display the result DataFrame
    return df

In [7]:
def main():
    df = create_df()
    df = discover_amounts(df)

    return df
main()

142 payments were found in this file

,Section Payment Schedule,gross_amount,gocardless_fees,app_fees,net_amount
0,Beavers: Activities,30.0,0.46,0.59,28.95
1,Beavers: Monthly Subscriptions,288.0,6.96,5.52,275.52
2,Cubs: Activities,115.0,1.79,2.26,110.95
3,Cubs: Monthly Subscriptions,348.0,8.41,6.67,332.92
4,Scouts: Activities,1026.0,13.58,20.05,992.37
5,Scouts: Monthly Subscriptions,540.0,13.05,10.35,516.60
6,Squirrels: Monthly Subscriptions,180.0,4.35,3.45,172.20