In [2]:
import pandas as pd
import os

In [11]:
def create_df():
    csv_files = [f for f in os.listdir('inputs') if f.endswith(".csv")]
    csv_file = str(csv_files[0])
    df = pd.read_csv(f'inputs/{csv_file}')
    return df
create_df()

,customers.id,customers.given_name,customers.family_name,customers.company_name,customers.email,resources.type,resources.description,resources.created_at,resources.charge_date,resources.status,...,subscriptions.id,surcharge_fees,tax_amount,payouts.reference,resources.fx_amount,resources.fx_rate,payouts.fx_currency,payments.metadata.Member,payments.metadata.References,payments.metadata.Site
0,CU0023614968DQ,Paula,Jones,NaN,paulaljones@hotmail.co.uk,payment,Monthly Subscriptions: Scouts (2024 January),2024-01-08 10:30:24,2024-01-11 00:00:00,paid,...,NaN,0.0,0.05,1STSEDGLEY-AYAT2ND,NaN,NaN,NaN,Finley Jones (1117411),714273 - 57594 - 19515,scouts
1,CU0022TMBJ9VSB,Rachel,Bain,NaN,rach_felton@yahoo.co.uk,payment,Monthly Subscriptions: Scouts (2024 January),2024-01-08 10:30:25,2024-01-11 00:00:00,paid,...,NaN,0.0,0.05,1STSEDGLEY-AYAT2ND,NaN,NaN,NaN,William Bain (1917981),714273 - 57594 - 19515,scouts
2,CU0024QF5H743Q,Luan,Mason,NaN,boodanks@yahoo.co.uk,payment,Monthly Subscriptions: Scouts (2024 January),2024-01-08 10:30:25,2024-01-11 00:00:00,paid,...,NaN,0.0,0.05,1STSEDGLEY-AYAT2ND,NaN,NaN,NaN,Hudson Danks (2504050),714273 - 57594 - 19515,scouts
3,CU002C56Q634KT,Vicky,Shuker,NaN,vicky.shuker@yahoo.co.uk,payment,Monthly Subscriptions: Scouts (2024 January),2024-01-08 10:30:26,2024-01-11 00:00:00,paid,...,NaN,0.0,0.05,1STSEDGLEY-AYAT2ND,NaN,NaN,NaN,Dylan Mitchell (955287),714273 - 57594 - 19515,scouts
4,CU0023HXVB4FCJ,Stephan,Everall,NaN,stephaneverall@gmail.com,payment,Monthly Subscriptions: Scouts (2024 January),2024-01-08 10:30:26,2024-01-11 00:00:00,paid,...,NaN,0.0,0.05,1STSEDGLEY-AYAT2ND,NaN,NaN,NaN,Molly Everall (955374),714273 - 57594 - 19515,scouts
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,CU0025D1FME8P0,Kerry,Fellows,NaN,kerryfellows@hotmail.co.uk,payment,"Activities (Camps, Sleepovers etc): Scouts (20...",2024-01-29 18:52:55,2024-02-02 00:00:00,paid,...,NaN,0.0,0.12,1STSEDGLEY-AYAT2ND,NaN,NaN,NaN,Zoe Fellows (955384),730026 - 57593 - 19515,scouts
137,CU0022TMBJ9VSB,Rachel,Bain,NaN,rach_felton@yahoo.co.uk,payment,"Activities (Camps, Sleepovers etc): Scouts (20...",2024-02-02 10:29:44,2024-02-07 00:00:00,paid,...,NaN,0.0,0.12,1STSEDGLEY-AYAT2ND,NaN,NaN,NaN,William Bain (1917981),730026 - 57593 - 19515,scouts
138,CU0024QF5H743Q,Luan,Mason,NaN,boodanks@yahoo.co.uk,payment,"Activities (Camps, Sleepovers etc): Scouts (20...",2024-02-02 10:29:45,2024-02-07 00:00:00,paid,...,NaN,0.0,0.12,1STSEDGLEY-AYAT2ND,NaN,NaN,NaN,Hudson Danks (2504050),730026 - 57593 - 19515,scouts
139,CU002F1DXKATCW,Richard,Powell,NaN,artoodetoo@blueyonder.co.uk,payment,"Activities (Camps, Sleepovers etc): Scouts (20...",2024-02-02 14:26:17,2024-02-07 00:00:00,paid,...,NaN,0.0,0.12,1STSEDGLEY-AYAT2ND,NaN,NaN,NaN,Henrietta Powell (1429801),730026 - 57593 - 19515,scouts
140,CU0023HM0PJEQP,Stacey,Bardwell,NaN,stacey_aston@hotmail.com,payment,"Activities (Camps, Sleepovers etc): Scouts (20...",2024-02-03 21:12:11,2024-02-08 00:00:00,paid,...,NaN,0.0,0.12,1STSEDGLEY-AYAT2ND,NaN,NaN,NaN,Chloe Bardwell (1709059),730026 - 57593 - 19515,scouts